name: Build
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0  # Shallow clones should be disabled for a better relevancy of analysis
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          # projectBaseDir: my-custom-directory
          args: >
            -Dsonar.organization=suphero
            -Dsonar.projectKey=udemy-spreadsheet
          # -Dsonar.python.coverage.reportPaths=coverage.xml
          # -Dsonar.sources=lib/
          # -Dsonar.test.exclusions=tests/**
          # -Dsonar.tests=tests/
          # -Dsonar.verbose=true
